{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <header role="banner">{% include header.html %}</header>
  <nav role="navigation">{% include navigation.html %}</nav>
  <div id="main">
    <div id="content">
      <!-- Alert -->
      <div class="alert alert-info">
        <div class="content">
          <strong>Are you looking for great Ruby on Rails developer?</strong>
          <br>
          Great news! I am available for hire! I am looking for work as a remote RoR developer. You can check out my portfolio on my <a href="https://www.linkedin.com/pub/sergei-l/58/2a7/833/en" class="alert-link">linkedin profile</a>, my code on <a href="https://github.com/Loremaster" class="alert-link">my github</a>.
          <br>
          <br>
          I am always love to hear from you: <a href="mailto:hello@bloginius.com">hello@bloginius.com</a>
        </div>
      </div>

      {{ content | expand_urls: root_url }}
    </div>
  </div>
  <footer role="contentinfo">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>
